@page
@model AllHotelsModel
@{
}
<div>
    <h1>All Hotels</h1>
    <!--This is where we will put all of the hotels for the assignment. It will pull a picture of the hotel, the name of the hotel and a description.-->

    <div class="row">
        @foreach (var item in Model.Hotels)
        {
            <div class="col-md-3">
                <form method="post" asp-page-handler="SelectHotel">
                    <h3>@item.Name</h3>
                    <p>@item.Street</p>
                    <p>@item.State, @item.ZipCode</p>
                    <input name="hotelId" value="@item.HotelID" hidden />
                    <button class="btn btn-primary" type="submit">Select</button>
                </form>
            </div>
        }
    </div>


</div>